
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= gravatar_tag @user.email, size: 300 %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><%= @user.username %></h3>
      <p>Age: <%= @user.age %></p>
      <p>School: <%= @user.school %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>About Me</h3>
      <small><%= @user.bio %></small>
    </div>
  </div>
</div>